body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    background-image: url('background.jpg');
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #bc1c5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
        opacity: 0.8;
}

h1 {
    text-align: center;
}
