body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Replace with your image URL */
    background-size: cover;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0);  /* Semi-transparent white */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"], input[type="tel"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #bc1c5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
a {
    color: #bc1c5c;
}
